@font-face {
	font-family: "primary-font";
	src: url("../../fonts/neirizi-400.eot");
	src: url("../../fonts/neirizi-400.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/neirizi-400.woff2") format("woff2"),
		 url("../../fonts/neirizi-400.woff") format("woff"),
		 url("../../fonts/neirizi-400.ttf") format("truetype");
	font-weight: 400;
}